@import '~bootstrap/scss/bootstrap.scss';

html,
body {
    height: 100%;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    background: #f3f3f6;
    min-height: 100vh;
    padding: 60px;
    box-sizing: border-box;
}
